{% extends 'RExam/BaseContent.html' %}
{% load recaptcha2 %}
{% block head_end %}
    {% recaptcha_init %}
{% endblock head_end %}
{% block control-item %}{% endblock %}
{% block head_title %} Сменить пароль {% endblock head_title %}
{% block content %}
    <div class="card bg-light shadow-sm m-1">
        <form class="p-4 col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3" action="" method="post">
            <h5 class="text-center mb-3">Сменить пароль</h5>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="input-group">
                        {% if not field.label %}
                            {{ field }}
                        {% else %}
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ field.label }}</span>
                            </div>
                            {{ field }}
                        {% endif %}
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" type="submit">Сменить</button>
            </div>
        </form>
    </div>
{% endblock content %}