{% extends 'RExam/BaseContent.html' %}
{% load static %}
{% block head_title %}{{ object.question_text }}{% endblock head_title %}
{% block head_end %}
    <link rel="stylesheet" href="{% static 'Exams/style.css' %}"/>
{% endblock head_end %}
{% block control-item %}
    {% if perms.Exams.add_answer %}
        <a class="dropdown-item" href="{{ object.get_add_answer_url }}"> Добавить ответ</a>
    {% endif %}
{% endblock control-item %}
{% block content %}
    <div class="card shadow-sm m-1">
        <div class="card-header shadow-sm">
            Описание вопроса
        </div>
        <div class="card-body">
            <p class="card-text">{{ object.question_text }}</p>
            {% if object.question_image %}<img class="shadow-sm rounded img-thumbnail img-fluid" src="{{ question.question_image.url }}" alt="{{ object.question_text }}"/>{% endif %}

            {% if perms.Exams.view_answer %}
                {% include "Exams/Answer/ListAnswers.html" with answers=answers_list question=object %}
            {% endif %}
        </div>
    </div>
{% endblock content %}